@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/sf-pro-display-cdnfonts/SFPRODISPLAYTHINITALIC.OTF")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/sf-pro-display-cdnfonts/SFPRODISPLAYULTRALIGHTITALIC.OTF")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/sf-pro-display-cdnfonts/SFPRODISPLAYLIGHTITALIC.OTF")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/sf-pro-display-cdnfonts/SFPRODISPLAYREGULAR.OTF")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/sf-pro-display-cdnfonts/SFPRODISPLAYMEDIUM.OTF")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/sf-pro-display-cdnfonts/SFPRODISPLAYSEMIBOLDITALIC.OTF")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/sf-pro-display-cdnfonts/SFPRODISPLAYBOLD.OTF")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/sf-pro-display-cdnfonts/SFPRODISPLAYHEAVYITALIC.OTF")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/sf-pro-display-cdnfonts/SFPRODISPLAYBLACKITALIC.OTF")
    format("opentype");
}

.sf-pro-display {
  --font-sf-pro-display:
    "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-family: var(--font-sf-pro-display);
}
