.home-layout img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.home-layout .w-inline-block {
  display: inline-block;
  max-width: 100%;
}

.home-layout[data-w-dynpage] [data-w-cloak] {
  color: #0000 !important;
}

.home-layout h1,
.home-layout h2,
.home-layout h3,
.home-layout h4,
.home-layout h5,
.home-layout h6 {
  margin-bottom: 10px;
  font-weight: 700;
}

.home-layout h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

.home-layout h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

.home-layout h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

.home-layout h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
}

.home-layout h5 {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}

.home-layout h6 {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}

.home-layout p {
  margin-top: 0;
  margin-bottom: 10px;
}

.home-layout blockquote {
  padding: 10px 20px;
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 22px;
  border-left: 5px solid #e2e2e2;
}

.home-layout figure {
  margin: 0 0 10px;
}

.home-layout figcaption {
  margin-top: 5px;
  text-align: center;
}

.home-layout ul,
.home-layout ol {
  padding-left: 40px;
  margin-top: 0;
  margin-bottom: 10px;
}

.home-layout fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.home-layout button,
.home-layout [type="button"],
.home-layout [type="reset"] {
  -webkit-appearance: button;
  cursor: pointer;
  border: 0;
}

.home-layout .w-form {
  margin: 0 0 15px;
}

.home-layout label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}

.home-layout .w-input,
.home-layout .w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857;
  vertical-align: middle;
  color: var(--foreground);
  background-color: var(--background);
  border: 1px solid #ccc;
}

.home-layout .w-input::placeholder,
.home-layout .w-select::placeholder {
  color: #999;
}

.home-layout .w-input:focus,
.home-layout .w-select:focus {
  outline: 0;
  border-color: #3898ec;
}

.home-layout .w-input[disabled],
.home-layout .w-select[disabled],
.home-layout .w-input[readonly],
.home-layout .w-select[readonly],
.home-layout fieldset[disabled] .w-input,
.home-layout fieldset[disabled] .w-select {
  cursor: not-allowed;
}

.home-layout .w-input[disabled]:not(.w-input-disabled),
.home-layout .w-select[disabled]:not(.w-input-disabled),
.home-layout .w-input[readonly],
.home-layout .w-select[readonly],
.home-layout fieldset[disabled]:not(.w-input-disabled) .w-input,
.home-layout fieldset[disabled]:not(.w-input-disabled) .w-select {
  background-color: #eee;
}

.home-layout textarea.w-input,
.home-layout textarea.w-select {
  height: auto;
}

.home-layout .w-form-label {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

.home-layout [data-nav-menu-open] {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: block !important;
  min-width: 200px;
  overflow: visible;
  text-align: center;
  background: #c8c8c8;
}

.home-layout .w--nav-link-open {
  position: relative;
  display: block;
}

.home-layout .w--nav-dropdown-list-open {
  position: static;
}

.home-layout .w--tab-active {
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Brisa Pro;
  src: url("/fonts/sora/BrisaPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Haffer Mono;
  src: url("/fonts/sora/HafferMonoMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Haffer Mono;
  src: url("/fonts/sora/HafferMonoRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Haffer XH;
  src: url("/fonts/sora/HafferXHRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Haffer VF;
  src: url("/fonts/sora/HafferStandardUprights-VF.ttf") format("truetype");
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}

.home-layout {
  --dash-side-width: 19em;
  --dash-hero-height-top-shrinked: 7em;
  --dash-side-width-ignore: 19em;
  --dash-end-padding: 4em;
  --dash-col-gap: 1.5em;
  --dash-col-width: 0em;
  --dash-col-width-half: 0em;
  --dash-content-width: 0em;
  --dash-content-max-width: 60em;
  --dash-hero-height-bottom: 5.5em;
  --dash-mobile-nav-height: calc(1.25em + 1.25em + 3em);
  --dash-hero-height-top: 11em;
  --padding-m: 7.5em;
  --btn-height: 2.5em;
  --stroke-weight: 1px;
  --gap-xxl: 2.5em;
  --gap-l: 1.875em;
  --padding-s: 5em;
  --gap-xl: 2em;
  --gap-sm: 1.25em;
  --gap-xxs: 0.5em;
  --input-height: 3em;
  --gap-xs: 0.75em;
  --gap-m: 1.5em;
  --gap-s: 1em;
  --padding-l: 10em;
  --padding-xl: 12.5em;
  --nav-bar-height: 4.625em;
  --nav-bar-max-width-small: 38em;
  --container-padding: 1.875em;
  --padding-xs: 3.75em;
  --dash-side-width-collapsed: 5.5em;
}

.home-layout .w-checkbox {
  display: block;
  padding-left: 20px;
  margin-bottom: 5px;
}

.home-layout .w-checkbox:before {
  display: table;
  grid-area: 1 / 1 / 2 / 2;
  content: " ";
}

.home-layout .w-checkbox:after {
  clear: both;
  display: table;
  grid-area: 1 / 1 / 2 / 2;
  content: " ";
}

.home-layout .w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.home-layout {
  font-family:
    Haffer VF,
    Arial,
    sans-serif;
  font-size: 14px;
  font-variation-settings: "wght" 460;
  font-weight: 400;
  line-height: 20px;
  color: var(--foreground);
  letter-spacing: -0.01em;
  background-color: var(--background);
}

.home-layout h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    Haffer XH,
    Arial,
    sans-serif;
  font-size: 7em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.06em;
}

.home-layout h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    Haffer XH,
    Arial,
    sans-serif;
  font-size: 5em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.04em;
}

.home-layout h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    Haffer XH,
    Arial,
    sans-serif;
  font-size: 3.875em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.04em;
}

.home-layout h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    Haffer XH,
    Arial,
    sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.05;
  letter-spacing: -0.03em;
}

.home-layout h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    Haffer XH,
    Arial,
    sans-serif;
  font-size: 1.875em;
  font-weight: 400;
  line-height: 1.08;
  letter-spacing: -0.03em;
}

.home-layout h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    Haffer XH,
    Arial,
    sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.08;
  letter-spacing: -0.03em;
}

.home-layout p {
  margin-bottom: 0;
}

.home-layout a {
  text-decoration: underline;
}

.home-layout ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.home-layout ol {
  padding-left: 40px;
  margin-top: 0;
  margin-bottom: 10px;
}

.home-layout img {
  display: inline-block;
  width: 100%;
  max-width: none;
  height: 100%;
  object-fit: cover;
}

.home-layout strong {
  font-weight: 700;
}

.home-layout .main {
  overflow: clip;
}

.home-layout .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.home-layout .container.is--xs {
  max-width: 25em;
}

.home-layout .eyebrow {
  display: block;
  font-family:
    Haffer Mono,
    Arial,
    sans-serif;
  font-size: 0.6875em;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0;
  white-space: nowrap;
}

.home-layout .eyebrow.tag-label {
  position: relative;
  z-index: 1;
}

.home-layout .eyebrow.is--nav-marquee {
  margin-top: 0.0625em;
}

.home-layout .eyebrow.is--relative {
  position: relative;
}

.home-layout .h-xl {
  font-family:
    Haffer XH,
    Arial,
    sans-serif;
  font-size: 7em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.06em;
}

.home-layout .h-l {
  font-family:
    Haffer XH,
    Arial,
    sans-serif;
  font-size: 5em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.04em;
}

.home-layout .h-l.is--reel-h {
  position: relative;
  z-index: 2;
  margin-top: -0.125em;
  color: var(--color-neutral-450);
}

.home-layout .h-l.is--continent-nr {
  width: 3ch;
}

.home-layout .h-m {
  font-family:
    Haffer XH,
    Arial,
    sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.05;
  letter-spacing: -0.03em;
}

.home-layout .h-m.is--ptc-card-h {
  max-width: 8em;
}

.home-layout .h-s {
  font-family:
    Haffer XH,
    Arial,
    sans-serif;
  font-size: 1.875em;
  font-weight: 400;
  line-height: 1.08;
  letter-spacing: -0.03em;
}

.home-layout .h-xs {
  font-family:
    Haffer VF,
    Arial,
    sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.08;
  letter-spacing: -0.02em;
}

.home-layout .p-l {
  font-family:
    Haffer VF,
    Arial,
    sans-serif;
  font-size: 1.1875em;
  font-variation-settings: "wght" 420;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.home-layout .p-l.u--fw-medium {
  font-variation-settings: "wght" 550;
}

.home-layout .p-m {
  font-family:
    Haffer VF,
    Arial,
    sans-serif;
  font-size: 1em;
  font-variation-settings: "wght" 430;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.home-layout .p-m.u--fw-460 {
  font-variation-settings: "wght" 460;
}

.home-layout .tag {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0.375em 0.1875em;
  overflow: hidden;
  color: var(--color-neutral-800);
  border-radius: 0.125em;
}

.home-layout .tag.is--check {
  display: flex;
  align-items: center;
  padding-top: 0.25em;
}

.home-layout .tag.is--icon {
  padding-bottom: 0.25em;
}

.home-layout .button {
  position: relative;
  display: flex;
  grid-row-gap: 0.625em;
  grid-column-gap: 0.625em;
  align-items: center;
  justify-content: center;
  height: var(--btn-height);
  padding: 0 1.125em 0.0625em;
  overflow: hidden;
  color: var(--color-neutral-800);
  white-space: nowrap;
  border-radius: 0.125em;
}

.home-layout .button.tag {
  height: calc(var(--btn-height) / 2);
  padding: 0.1875em 0.375em;
}

.home-layout .button.is--close-btn {
  z-index: 1;
  grid-row-gap: 0em;
  grid-column-gap: 0em;
  padding: 0;
  color: var(--color-neutral-200);
  outline: none !important;
  border: none !important;
}

.home-layout .button-bg {
  position: absolute;
  inset: 0%;
  z-index: 0;
  pointer-events: none;
  background-color: var(--color-electric);
}

.home-layout .button-bg.is--close-bg {
  background-color: var(--color-neutral-550);
}

.home-layout .button-label__wrap {
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;
}

.home-layout .button-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.125em;
  font-variation-settings: "wght" 500;
  line-height: 1;
  letter-spacing: -0.02em;
}

.home-layout .button-label.eyebrow {
  font-size: 0.6875em;
  letter-spacing: 0;
}

.home-layout .button-row {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}

.home-layout .button-row.align--end {
  align-items: center;
  justify-content: flex-end;
}

.home-layout .square-button {
  position: relative;
  width: var(--btn-height);
  height: var(--btn-height);
  padding: 0.625em;
  overflow: hidden;
  color: var(--color-neutral-800);
  border-radius: 0.125em;
}

.home-layout .button-icon__wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home-layout .svg {
  display: flex;
  width: 100%;
  height: 100%;
}

.home-layout .button-icon {
  width: 100%;
  height: 100%;
}

.home-layout .underline-link {
  position: relative;
}

.home-layout .nav {
  position: fixed;
  inset: 0%;
  z-index: 100;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.home-layout .form-field-group {
  display: flex;
  flex-flow: column;
  grid-row-gap: 0.75em;
  grid-column-gap: 0.75em;
  align-items: flex-start;
  width: 100%;
}

.home-layout .form-field-group.is--auto {
  width: auto;
}

.home-layout .radiocheck-custom {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  order: -1;
  width: 2em;
  height: 2em;
  margin-top: 0.066em;
  margin-right: 0.75em;
  color: var(--color-neutral-300);
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: var(--color-neutral-300);
  border: 0.0625em solid #0000;
  border-radius: 100em;
}

.home-layout .radiocheck-custom.is--tiny {
  width: 1.625em;
  height: 1.625em;
}

.home-layout .radiocheck-group {
  position: relative;
  display: flex;
  flex-flow: column;
  grid-row-gap: 0.75em;
  grid-column-gap: 0.75em;
  width: 100%;
}

.home-layout .form-submit-btn {
  position: relative;
  width: 100%;
  margin-top: 0.5em;
  cursor: pointer;
}

.home-layout .form-submit-btn:focus {
  outline-color: #131313;
  outline-offset: 0px;
  border-color: #cbc8c5;
  border-width: 1px;
}

.home-layout .form-submit-btn.is--newsletter {
  margin-top: 0;
}

.home-layout .form {
  display: flex;
  flex-flow: column;
  grid-row-gap: 1.5em;
  grid-column-gap: 1.5em;
  width: 100%;
}

.home-layout .form.is--submit {
  grid-row-gap: 2em;
  grid-column-gap: 2em;
}

.home-layout .form-input {
  min-width: 15em;
  height: var(--input-height);
  padding: 0.75em 1em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.2;
  vertical-align: middle;
  appearance: none;
  outline: 0 #0000;
  outline-offset: 0px;
  background-color: var(--color-neutral-300);
  border-top-color: #0000;
  border-top-style: solid;
  border-top-width: var(--stroke-weight);
  border-right-color: #0000;
  border-right-style: solid;
  border-right-width: var(--stroke-weight);
  border-bottom-color: #0000;
  border-bottom-style: solid;
  border-bottom-width: var(--stroke-weight);
  border-left-color: #0000;
  border-left-style: solid;
  border-left-width: var(--stroke-weight);
  border-radius: 0.1875em;
  box-shadow: 0 0 #0000;
}

.home-layout .form-input:hover {
  border-color: var(--color-neutral-450);
}

.home-layout .form-input:focus {
  border-color: var(--color-neutral-475);
}

.home-layout .form-input::placeholder {
  color: var(--color-neutral-475);
  background-color: #0000;
}

.home-layout .form-input.is--textarea {
  min-height: 7.5em;
}

.home-layout .form-input.is--search {
  width: 100%;
  padding-left: 2.25em;
}

.home-layout .radiocheck-check-svg {
  position: absolute;
  width: 1.5em;
}

.home-layout .radiocheck-check-svg.is--tiny {
  width: 1.375em;
}

.home-layout .radiocheck-label {
  flex-grow: 1;
  padding-left: 1.8em;
  margin-bottom: 0;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-neutral-800);
  cursor: pointer;
}

.home-layout .radiocheck-label.is--small {
  flex-grow: 1;
  padding-left: 2.75em;
  font-size: 1em;
}

.home-layout .radiocheck-label.is--tiny {
  padding-left: 3.25em;
  font-size: 0.6875em;
  line-height: 1.3;
}

.home-layout .form-group {
  display: flex;
  flex-flow: column;
  grid-row-gap: 1.5em;
  grid-column-gap: 1.5em;
  width: 100%;
  margin-bottom: 0;
  text-align: left;
}

.home-layout .radiocheck-field {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 0;
  margin-bottom: 0;
}

.home-layout .radiocheck-field.is--newsletter {
  align-items: center;
  height: var(--btn-height);
}

.home-layout .form-field {
  position: relative;
  width: 100%;
}

.home-layout .checkbox-input {
  position: absolute;
  width: 0;
  height: 0;
  margin-top: 0;
  margin-left: 0;
  cursor: pointer;
}

.home-layout .form-field-row {
  display: flex;
  grid-row-gap: var(--gap-xxs);
  grid-column-gap: var(--gap-xxs);
}

.home-layout .form-field-row.is--title {
  flex-flow: column;
  grid-row-gap: var(--gap-xs);
  grid-column-gap: var(--gap-xs);
}

.home-layout .form-field-row.is--format {
  display: none;
}

.home-layout .form-bottom-row {
  display: flex;
  grid-row-gap: var(--gap-xxs);
  grid-column-gap: var(--gap-xxs);
  align-items: center;
  justify-content: space-between;
}

.home-layout .cover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  object-fit: cover;
  border-radius: inherit;
}

.home-layout .cover-image.is--try-vault {
  object-position: left top;
}

.home-layout .cover-image.is--try-vault-light {
  object-position: left top;
  opacity: 0;
}

.home-layout .cover-image.is--top {
  object-position: 50% 0%;
}

.home-layout .cover-image.is--hidden {
  display: none;
}

.home-layout .cursor-bubble__arrow-svg {
  display: block;
  flex: none;
  width: 100%;
}

.home-layout .button-icon__slot {
  height: 1em;
}

.home-layout .button-icon__slot.is--large {
  height: 1.125em;
  aspect-ratio: 1;
}

.home-layout .line {
  position: relative;
  z-index: 3;
  width: 100%;
  height: var(--stroke-weight);
  background-color: var(--color-neutral-400);
}

.home-layout .line.is--nav-transparent {
  background-color: var(--color-neutral-200);
  opacity: 0.08;
}

.home-layout .line.is--dark {
  background-color: var(--color-neutral-800);
}

.home-layout .line.is--vertical {
  width: var(--stroke-weight);
  height: 100%;
}

.home-layout .line.is--vertical.is--faded {
  background-color: #0000;
  background-image: linear-gradient(
    180deg,
    #e1e1e100,
    var(--color-neutral-400) 10%,
    var(--color-neutral-400) 90%,
    #e1e1e100
  );
}

.home-layout .home-hero {
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-between;
}

.home-layout .home-hero__title-row {
  position: relative;
  display: flex;
  grid-row-gap: var(--gap-l);
  grid-column-gap: var(--gap-l);
  align-items: center;
  justify-content: center;
  padding-left: 0.5em;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}

.home-layout .home-hero__top-logo {
  width: 5em;
  color: var(--color-purple);
}

.home-layout .home-hero__bg {
  position: absolute;
  inset: 0%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-layout .home-hero__bg-line {
  position: absolute;
  width: var(--stroke-weight);
  height: 100%;
  background-color: var(--color-neutral-400);
}

.home-layout .modal__group {
  position: fixed;
  inset: 0%;
  z-index: 150;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0.625em;
  pointer-events: none;
}

.home-layout .modal__bg {
  position: fixed;
  inset: 0%;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: pointer;
  background-color: #0000004d;
  opacity: 0;
  transition: opacity 0.45s;
}

.home-layout .modal__item {
  position: absolute;
  top: 0.625em;
  right: 0.625em;
  bottom: 0.625em;
  z-index: 2;
  width: 100%;
  max-width: 43.75em;
  min-height: calc(100% - 1.25em);
  overflow: hidden;
  color: var(--color-neutral-200);
  pointer-events: auto;
  background-color: var(--color-neutral-800);
  border-radius: 0.3125em;
  transform: rotate(6deg) translate(105%);
  transform-origin: 50% 100%;
  transition-timing-function: cubic-bezier(0.625, 0.05, 0, 1);
  transition-duration: 0.75s;
  transition-property: transform;
}

.home-layout .about-hero {
  padding-right: var(--gap-sm);
  padding-bottom: var(--gap-xl);
  padding-left: var(--gap-sm);
}

.home-layout .about-container {
  position: relative;
  z-index: 1;
  padding-right: var(--gap-l);
  padding-left: var(--gap-l);
}

.home-layout .about-hero__row {
  display: flex;
  flex-flow: row;
  grid-row-gap: var(--gap-sm);
  grid-column-gap: var(--gap-sm);
  align-items: flex-start;
  justify-content: flex-start;
}

.home-layout .about-hero__intro {
  display: flex;
  flex-flow: column;
  grid-row-gap: calc(2 * var(--gap-xl));
  grid-column-gap: calc(2 * var(--gap-xl));
  padding-bottom: var(--gap-xxl);
}

.home-layout .about-item {
  display: flex;
  grid-row-gap: var(--gap-sm);
  grid-column-gap: var(--gap-sm);
  align-items: center;
  justify-content: flex-start;
}

.home-layout .modal-footer {
  padding-bottom: var(--gap-xs);
  overflow: hidden;
}

.home-layout .button-close {
  position: relative;
  display: flex;
  grid-row-gap: 0.625em;
  grid-column-gap: 0.625em;
  align-items: center;
  justify-content: center;
  padding: 0.1875em 0.375em;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 0.125em;
}

.home-layout .button-close__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  padding: 0.45em;
  background-color: var(--color-neutral-550);
  border-radius: 10em;
}

.home-layout .modal-close__bg {
  position: absolute;
  inset: 0% 0% auto auto;
  width: 25%;
  height: 100%;
  background-image: linear-gradient(
    210deg,
    var(--color-neutral-800),
    #0000 65%
  );
}

.home-layout .body.is--onboarding {
  overscroll-behavior: none;
}

.home-layout .body.is--submit {
  color: var(--color-neutral-200);
  background-color: var(--color-neutral-800);
}

.home-layout .padding-hero {
  height: var(--nav-bar-height);
}

.home-layout .nav__bg {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background-color: #0000004d;
  opacity: 0;
}

.home-layout .nav-bar {
  position: relative;
  width: 100%;
  max-width: var(--nav-bar-max-width-small);
  color: var(--color-neutral-200);
  pointer-events: auto;
  border-radius: 0.25em;
}

.home-layout .nav-bar__wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: var(--nav-bar-height);
}

.home-layout .nav-bar__top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.375em;
  padding: 0.4375em;
}

.home-layout .nav-bar__width {
  display: flex;
  flex: none;
  flex-flow: column;
  grid-row-gap: 0.375em;
  grid-column-gap: 0.375em;
  align-items: center;
  width: 100%;
  max-width: var(--size-container);
  padding: 1.25em;
}

.home-layout .nav-bar__logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
}

.home-layout .nav-logo__wordmark-svg {
  display: block;
  flex: none;
  width: 5.5em;
}

.home-layout .nav-logo__icon-svg {
  position: absolute;
  display: block;
  width: 1.4375em;
  opacity: 0;
}

.home-layout .nav-bar__buttons {
  display: flex;
  height: 2.5em;
}

.home-layout .nav-menu {
  display: flex;
  grid-row-gap: 0.625em;
  grid-column-gap: 0.625em;
  align-items: center;
  height: 100%;
  padding-right: 1em;
  padding-left: 0.625em;
  cursor: pointer;
  border-radius: 0.125em;
}

.home-layout .nav-menu__label {
  margin-bottom: 0.0625em;
  font-size: 1.125em;
  font-variation-settings: "wght" 500;
  line-height: 1;
  letter-spacing: -0.02em;
}

.home-layout .nav-menu__hamburger {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 1.375em;
  height: 0.4375em;
}

.home-layout .nav-menu__hamburger-bar {
  position: absolute;
  width: 100%;
  height: var(--stroke-weight);
  background-color: currentColor;
}

.home-layout .nav-bar__menu {
  height: 2.5em;
  margin-right: auto;
}

.home-layout .nav-bar__outline {
  position: absolute;
  inset: calc(var(--stroke-weight) * -1);
  pointer-events: none;
  background-color: var(--color-neutral-200);
  border-radius: 0.4375em;
  opacity: 0.1;
}

.home-layout .nav-bar__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: var(--color-neutral-800);
  border-radius: 0.375em;
}

.home-layout .nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-radius: 0.5em;
}

.home-layout .nav-bar__back {
  position: absolute;
  inset: 0;
}

.home-layout .nav-bar__bottom {
  position: relative;
  display: grid;
  grid-template-rows: 0fr;
  width: 100%;
  overflow: hidden;
}

.home-layout .nav-bar__bottom-overflow {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 10000%;
  overflow: hidden;
}

.home-layout .nav-bar__bottom-inner {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: calc(var(--size-container) - 2.5em);
  padding: 1.5em;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.home-layout .nav-bar__bottom-inner::-webkit-scrollbar {
  display: none;
}

.home-layout .nav-bar__line {
  position: absolute;
  right: 0.5em;
  bottom: 0;
  left: 0.5em;
  height: var(--stroke-weight);
  background-color: var(--color-neutral-600);
}

.home-layout .nav-bar__bottom-row {
  display: flex;
  grid-row-gap: 1.5em;
  grid-column-gap: 1.5em;
  width: 100%;
}

.home-layout .nav-bar__bottom-col {
  display: flex;
  flex-flow: column;
  grid-row-gap: 1.375em;
  grid-column-gap: 1.375em;
  width: 100%;
  padding: 2.5em;
}

.home-layout .nav-bar__bottom-col.is--products {
  background-color: var(--color-neutral-700);
  border-radius: 1em;
}

.home-layout .nav-bar__bottom-col.is--ad {
  padding: 0;
}

.home-layout .nav-bar__tag-row {
  display: flex;
  opacity: 0.8;
}

.home-layout .nav-bar__ul-big {
  list-style: none;
}

.home-layout .nav-bar__big-li.is--hidden-desktop {
  display: none;
}

.home-layout .nav-bar__big-a {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 1.0625em;
  padding-bottom: 1.125em;
}

.home-layout .nav-bar__a-tag {
  padding-top: 0.25em;
  padding-left: 0.625em;
}

.home-layout .nav-bar__a-tag.is--small {
  padding-top: 0.125em;
  font-size: 0.8em;
}

.home-layout .nav-bar__small-ul {
  display: flex;
  grid-row-gap: 2.5em;
  grid-column-gap: 2.5em;
  margin-top: auto;
  list-style: none;
}

.home-layout .nav-bar__small-li.is--inactive {
  cursor: not-allowed;
}

.home-layout .nav-bar__small-a {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 0.3125em;
  padding-bottom: 0.25em;
}

.home-layout .nav-bar__small-a.is--inactive {
  color: #7a7a7a;
  pointer-events: none;
}

.home-layout .nav-bar__socials {
  display: flex;
  padding-top: 2em;
  margin-top: auto;
}

.home-layout .nav-bar__small-span {
  font-size: 1em;
  line-height: 1;
}

.home-layout .nav-bar__big-span {
  font-size: 1.5em;
  font-variation-settings: "wght" 430;
  line-height: 1;
}

.home-layout .nav-banner__content {
  position: absolute;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding: 2.5em;
}

.home-layout .nav-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  background-color: var(--color-neutral-700);
  border-radius: 1em;
}

.home-layout .nav-banner__before {
  padding-top: 110%;
}

.home-layout .nav-banner__tags {
  display: flex;
  justify-content: center;
}

.home-layout .nav-banner__title {
  text-align: center;
}

.home-layout .nav-banner__btn {
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
}

.home-layout .nav-banner__center-content {
  display: flex;
  flex: 1;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
}

.home-layout .nav-bar__mobile-buttons {
  display: none;
  flex-flow: column;
  grid-row-gap: 0.625em;
  grid-column-gap: 0.625em;
}

.home-layout .nav-marquee {
  position: relative;
  display: flex;
  flex: none;
  width: 100%;
  height: 1.25em;
  overflow: hidden;
  color: var(--color-neutral-800);
  text-decoration: none;
  pointer-events: auto;
  background-color: var(--color-electric);
  border-radius: 0.1875em;
}

.home-layout .under-nav-bar__inner {
  position: relative;
  display: flex;
  flex-flow: column;
  grid-row-gap: 0.375em;
  grid-column-gap: 0.375em;
  width: 100%;
  max-width: var(--nav-bar-max-width-small);
  padding-top: 0.375em;
}

.home-layout .under-nav-bar {
  position: fixed;
  z-index: 50;
  display: flex;
  visibility: hidden;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding-top: var(--nav-bar-height);
  padding-right: var(--gap-l);
  padding-left: var(--gap-l);
  pointer-events: none;
  opacity: 0;
}

.home-layout .nav-product-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  pointer-events: auto;
}

.home-layout .nav-product-info__start,
.home-layout .nav-product-info__end {
  display: flex;
}

.home-layout .marquee-css {
  position: relative;
  display: flex;
  flex: none;
  width: var(--nav-bar-max-width-small);
  height: 100%;
  overflow: hidden;
}

.home-layout .marquee-css__list {
  position: relative;
  display: flex;
  flex: none;
  align-items: center;
}

.home-layout .marquee-css__item {
  display: flex;
  flex: 0;
  grid-row-gap: 1.5em;
  grid-column-gap: 1.5em;
  align-items: center;
  padding-right: 1.5em;
}

.home-layout .marquee-css__item-svg {
  width: 0.4375em;
}

.home-layout .button-row__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-layout .home-hero__content {
  display: flex;
  flex-flow: column;
  grid-row-gap: max(1.5em, 4.5svh);
  grid-column-gap: max(1.5em, 4.5svh);
  align-items: center;
}

.home-layout .home-hero__marquee-row {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  aspect-ratio: 5;
  pointer-events: none;
}

.home-layout .hero-bg__wrap {
  position: absolute;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-neutral-400);
  pointer-events: none;
}

.home-layout .hero-bg__circle {
  position: absolute;
  z-index: 0;
  width: 22em;
  aspect-ratio: 1;
}

.home-layout .hero-bg__circle.is--large {
  width: 64em;
}

.home-layout .hero-bg__horizontal {
  width: 100vw;
  height: var(--stroke-weight);
}

.home-layout .hero-bg__vertical {
  position: absolute;
  width: var(--stroke-weight);
  height: 100vh;
}

.home-layout .is--lighter {
  opacity: 0.6;
}

.home-layout .button-icon__end {
  display: inline-block;
  width: 0.3125em;
  height: 0.3125em;
  margin-left: 0.625em;
}

.home-layout .nav-banner__bg {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home-layout .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-layout .cursor-bubble {
  position: relative;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  color: var(--color-neutral-800);
  background-color: var(--color-neutral-200);
  border-radius: 50%;
}

.home-layout .cursor-bubble__arrow {
  position: absolute;
  display: flex;
  flex-flow: column;
  grid-row-gap: 0.625em;
  grid-column-gap: 0.625em;
  align-items: center;
  justify-content: center;
  width: 0.625em;
  height: 0.625em;
  overflow: hidden;
}

.home-layout .cursor-bubble__drag {
  position: relative;
  overflow: hidden;
}

.home-layout .cursor-bubble__drag-span {
  position: relative;
  display: block;
  font-family:
    Haffer VF,
    Arial,
    sans-serif;
  font-size: 0.875em;
  font-variation-settings: "wght" 550;
  line-height: 1.2em;
  letter-spacing: -0.02em;
}

.home-layout .home-hero__description-p {
  font-size: 1.375em;
  line-height: 1.2;
}

.home-layout .home-hero__description-row {
  width: 100%;
  max-width: 33em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

.home-layout .home-hero__description-highlight {
  display: inline-block;
  padding: 0.125em 0.35em 0.1875em;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: var(--color-neutral-300);
  border-radius: 0.1875em;
}

.home-layout .home-hero__description-highlight.is--round {
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-radius: 10em;
}

.home-layout .button__wrap {
  display: flex;
}

.home-layout .nav-bar__big-span-number {
  position: relative;
  display: block;
  margin-top: -0.75em;
  margin-left: 0.25em;
  font-size: 0.75em;
  line-height: 1;
  color: var(--color-neutral-500);
}

.home-layout .nav-banner__ptc-preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 75%;
  margin-top: 1.25em;
  margin-bottom: -2.5em;
  overflow: hidden;
  border-radius: 100em;
}

.home-layout .button-bg-2 {
  position: absolute;
  inset: 0%;
  z-index: 0;
  pointer-events: none;
  background-color: #a1ff62;
}

.home-layout .button-2 {
  position: relative;
  display: flex;
  grid-row-gap: 0.625em;
  grid-column-gap: 0.625em;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  padding: 0 1.125em 0.0625em;
  overflow: hidden;
  color: #201d1d;
  white-space: nowrap;
  border-radius: 0.125em;
}

.home-layout .button-demo {
  position: relative;
  padding-top: var(--padding-l);
  padding-bottom: var(--padding-l);
}

.home-layout .button-demo__scribble {
  position: absolute;
  top: 7em;
  left: 28%;
  display: flex;
  flex-flow: column;
  grid-row-gap: var(--gap-xxs);
  grid-column-gap: var(--gap-xxs);
  align-items: center;
  justify-content: flex-start;
  color: var(--color-coral);
}

.home-layout .button-demo__marquee {
  width: 100%;
  max-width: 42.5em;
  margin-right: auto;
  margin-left: auto;
}

.home-layout .button-demo__marquee-li {
  display: flex;
  flex: none;
  grid-row-gap: var(--gap-xxs);
  grid-column-gap: var(--gap-xxs);
  align-items: center;
  justify-content: flex-start;
  margin-right: var(--gap-xxl);
}

.home-layout .button-demo__marquee-icon {
  flex: none;
  width: 0.75em;
}

.home-layout .p-s {
  font-size: 0.875em;
  font-variation-settings: "wght" 420;
  line-height: 1.2em;
}

.home-layout .button-demo__wrap {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28em;
}

.home-layout .button-demo__nav {
  position: absolute;
  bottom: -0.5em;
  z-index: 2;
  display: flex;
  grid-row-gap: 0.125em;
  grid-column-gap: 0.125em;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.home-layout .button-demo__main {
  position: relative;
  z-index: 1;
  display: grid;
  width: 100%;
  height: 100%;
}

.home-layout .button-demo__panel {
  display: flex;
  grid-area: 1 / 1;
  align-items: center;
  justify-content: center;
  transform-origin: 50% 100%;
}

.home-layout .button-demo__panel.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.home-layout .button-demo__panel.is-active {
  pointer-events: auto;
}

.home-layout .button-demo__item {
  font-size: 2em;
}

.home-layout .button-demo__bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-layout .button-demo__bg-circle {
  height: 100%;
  aspect-ratio: 1;
  opacity: 0.2;
}

.home-layout .button-005__icon {
  width: 1em;
  height: 1em;
}

.home-layout .button-005__icon-inner {
  display: flex;
  grid-area: 1 / 1;
  align-items: center;
  justify-content: center;
  background-color: var(--button-005-color-background);
  border-radius: var(--button-005-icon-border-radius);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.home-layout .button-005__text-wrap {
  display: grid;
  pointer-events: none;
  transform-style: preserve-3d;
  perspective: 10em;
}

.home-layout .button-005__text {
  grid-area: 1 / 1;
  padding-top: var(--button-005-padding-top);
  padding-right: var(--button-005-padding-x);
  padding-bottom: var(--button-005-padding-bottom);
  padding-left: var(--button-005-padding-x);
  background-color: var(--button-005-color-background);
  border-radius: var(--button-005-text-border-radius);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.home-layout .button-005 {
  position: relative;
  display: inline-flex;
  flex-flow: var(--button-005-flex-flow);
  grid-row-gap: 0.0625em;
  grid-column-gap: 0.0625em;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 1;
  color: var(--button-005-color);
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  outline-style: none;
  background-color: #0000;
}

.home-layout .button-005__icon-wrap {
  display: grid;
  flex-shrink: 0;
  width: calc(
    1em +
    var(--button-005-padding-top) +
    var(--button-005-padding-bottom)
  );
  aspect-ratio: 1;
  pointer-events: none;
  transform-style: preserve-3d;
  perspective: 10em;
}

.home-layout .is--lightning {
  color: var(--color-electric);
}

@media screen and (max-width: 991px) {
  .home-layout .container.is--m.is--full-tablet {
    padding-right: 0;
    padding-left: 0;
  }

  .home-layout .h-xl {
    font-size: 6.25em;
  }

  .home-layout .h-l.is--continent-nr {
    font-size: 3.5em;
  }

  .home-layout .form.is--submit {
    max-width: 40em;
  }

  .home-layout .form-group.is--submit {
    align-items: center;
  }

  .home-layout .home-hero__title-row {
    flex-flow: column;
    grid-row-gap: 0em;
    grid-column-gap: 0em;
  }

  .home-layout .home-hero__top-logo {
    order: 1;
    margin-top: var(--gap-m);
  }

  .home-layout .nav-bar__bottom-col.is--ad {
    display: none;
  }

  .home-layout .nav-bar__small-ul {
    padding-top: 1em;
  }
}

@media screen and (max-width: 767px) {
  .home-layout .container.is--m-full {
    padding-right: 0;
    padding-left: 0;
  }

  .home-layout .h-xl {
    font-size: 4em;
  }

  .home-layout .h-xl.is--showcase {
    font-size: 3.5em;
  }

  .home-layout .h-l {
    font-size: 3em;
  }

  .home-layout .h-l.is--reel-h {
    display: none;
  }

  .home-layout .h-m.is--long {
    font-size: 1.875em;
  }

  .home-layout .h-m.is--testimonial {
    font-size: 1.5em;
  }

  .home-layout .h-s {
    font-size: 1.5625em;
  }

  .home-layout .p-l {
    font-size: 1.125em;
  }

  .home-layout .button-row.mobile--small {
    font-size: 0.6em;
  }

  .home-layout .form.is--newsletter {
    grid-row-gap: 0.5em;
    grid-column-gap: 0.5em;
  }

  .home-layout .form.is--submit {
    grid-row-gap: 1.5em;
    grid-column-gap: 1.5em;
  }

  .home-layout .radiocheck-label.is--tiny {
    line-height: 1.4;
  }

  .home-layout .form-group {
    width: 100%;
  }

  .home-layout .form-field-row.is--newsletter {
    flex-flow: column;
    grid-row-gap: 0.625em;
    grid-column-gap: 0.625em;
  }

  .home-layout .form-bottom-row {
    flex-flow: column;
    grid-row-gap: var(--gap-l);
    grid-column-gap: var(--gap-l);
    align-items: stretch;
    justify-content: space-between;
    margin-top: var(--gap-sm);
  }

  .home-layout .button-icon__slot {
    height: 0.875em;
  }

  .home-layout .home-hero__title-row {
    padding-left: 0;
  }

  .home-layout .home-hero__top-logo {
    width: 3em;
    margin-top: var(--gap-sm);
  }

  .home-layout .modal__group {
    padding: 0;
  }

  .home-layout .modal__item {
    inset: 0;
    min-height: 100%;
    border-radius: 0;
  }

  .home-layout .about-container {
    padding-right: 0;
    padding-left: 0;
  }

  .home-layout .about-hero__row {
    flex-flow: row;
    grid-row-gap: var(--gap-xxl);
    grid-column-gap: var(--gap-xxl);
  }

  .home-layout .about-item {
    flex-flow: column;
    grid-row-gap: var(--gap-xxs);
    grid-column-gap: var(--gap-xxs);
    align-items: flex-start;
    justify-content: flex-start;
  }

  .home-layout .nav-bar__top {
    height: var(--nav-bar-height);
    padding: 1em;
  }

  .home-layout .nav-bar__width {
    padding: 0;
  }

  .home-layout .nav-bar__buttons {
    height: 2.5em;
  }

  .home-layout .nav-menu__label {
    margin-bottom: 0;
  }

  .home-layout .nav-bar__bottom-inner {
    width: 100vw;
    max-height: calc(100dvh - var(--nav-bar-height));
    padding: 1em 1em 1.25em;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .home-layout .nav-bar__bottom-inner::-webkit-scrollbar {
    display: none;
  }

  .home-layout .nav-bar__line {
    right: 0;
    left: 0;
  }

  .home-layout .nav-bar__bottom-row {
    flex-flow: column;
    grid-row-gap: 0em;
    grid-column-gap: 0em;
  }

  .home-layout .nav-bar__bottom-col {
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    padding: 1.25em 2.25em 2em;
  }

  .home-layout .nav-bar__bottom-col.is--products {
    grid-row-gap: 0.5em;
    grid-column-gap: 0.5em;
    padding-top: 2em;
    padding-bottom: 1em;
  }

  .home-layout .nav-bar__tag-row.is--membership {
    display: none;
  }

  .home-layout .nav-bar__big-li.is--hidden-desktop {
    display: block;
  }

  .home-layout .nav-bar__big-a {
    padding-top: 0.8125em;
    padding-bottom: 0.875em;
  }

  .home-layout .nav-bar__small-ul {
    display: none;
  }

  .home-layout .nav-bar__socials {
    display: none;
    padding-top: 0;
  }

  .home-layout .nav-bar__big-span {
    font-size: 1.25em;
  }

  .home-layout .nav-bar__login-button {
    display: none;
  }

  .home-layout .nav-bar__mobile-buttons {
    display: flex;
    width: calc(100% + 4em);
    padding-top: 0.5em;
    margin-bottom: -2em;
    margin-left: -2em;
  }

  .home-layout .under-nav-bar__inner {
    max-width: calc(var(--nav-bar-max-width-small) - 1em);
    padding-top: 0;
    margin-top: -0.125em;
  }

  .home-layout .under-nav-bar {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

  .home-layout .nav-product-info {
    justify-content: center;
  }

  .home-layout .nav-product-info__start {
    display: none;
  }

  .home-layout .home-hero__content {
    padding-bottom: 0;
  }

  .home-layout .home-hero__marquee-row {
    font-size: 0.875em;
  }

  .home-layout .hero-bg__circle {
    width: 22em;
    margin-left: 0;
  }

  .home-layout .hero-bg__circle.is--large {
    width: 40em;
  }

  .home-layout .home-hero__description-p {
    font-size: 1.125em;
  }

  .home-layout .home-hero__description-row {
    padding-top: 0;
    padding-bottom: 2em;
  }

  .home-layout .button-demo__scribble {
    top: 4em;
    left: 2em;
  }
}

@media screen and (max-width: 479px) {
  .home-layout .tag {
    flex: none;
  }
}
