/* ------------------------- Variables - Sizes, Animations Etc. ------------------------------------------- */
.home-layout {
  /* Animations */
  --cubic-default: cubic-bezier(0.625, 0.05, 0, 1);
  --duration-default-onehalf: 0.9s; /* One & Half of default */
  --duration-default: 0.6s;
  --duration-default-half: 0.3s; /* Half of default */
  --animation-default-onehalf: var(--duration-default-onehalf)
    var(--cubic-default);
  --animation-default: var(--duration-default) var(--cubic-default);
  --animation-default-half: var(--duration-default-half) var(--cubic-default);
  --animation-ease: 0.2s ease;
}

@media screen and (max-width: 767px) {
  .home-layout {
    --btn-height: 3em;
    --padding-m: 5em;
    --padding-s: 3.75em;
    --container-padding: 1em;
  }

  .home-layout .container,
  .home-layout .container.is--md-m {
    padding: 0 1em;
  }
}

/* ------------------------- Container -------------------------  */
@media screen and (min-width: 992px) {
  .home-layout .container {
    max-width: var(--size-container);
    padding: 0 var(--container-padding);
  }
}

@media screen and (max-width: 991px) {
  .home-layout .container {
    max-width: 100%;
    padding: 0 var(--container-padding);
  }

  .home-layout .container.is--md-m {
    padding: 0 var(--gap-m);
  }
}

@media screen and (max-width: 767px) {
  .home-layout .container,
  .home-layout .container.is--md-m {
    padding: 0 1em;
  }
}

.home-layout {
  --size-unit: 16; /* body font-size in design - no px */
  --size-container-ideal: 1440;
  --size-container-min: 992px;
  --size-container-max: 1920px;
  --size-container: clamp(
    var(--size-container-min),
    100vw,
    var(--size-container-max)
  );
  --size-font: clamp(
    13px,
    calc(
      var(--size-container) /
      (var(--size-container-ideal) / var(--size-unit))
    ),
    18px
  );
}

@media screen and (max-width: 991px) {
  .home-layout {
    --size-container-ideal: 850;
    --size-container-min: 768px;
    --size-container-max: 991px;
  }
}

@media screen and (max-width: 767px) {
  .home-layout {
    --size-container-ideal: 640;
    --size-container-min: 480px;
    --size-container-max: 767px;
  }
}

@media screen and (max-width: 479px) {
  .home-layout {
    --size-container-ideal: 390;
    --size-container-min: 320px;
    --size-container-max: 479px;
  }
}

/* ------------------------- Variables - Colors ------------------------------------------- */
.home-layout {
  /* RGB Colors, for transparent RGBA */
  --color-rgb-light: 249, 249, 249;
  --color-rgb-gray: 129, 127, 127;
}

.home-layout {
  -ms-overflow-style: none;
  overscroll-behavior: none;
  font-size: var(--size-font);
  -webkit-font-smoothing: antialiased;
  scrollbar-width: none;
}

.home-layout::-webkit-scrollbar {
  display: none;
}

.home-layout .lenis {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.home-layout ::selection {
  text-shadow: none;
  background-color: rgba(var(--color-rgb-gray), 0.2);
}

.home-layout ::-moz-selection {
  text-shadow: none;
  background-color: rgba(var(--color-rgb-gray), 0.2);
}

.home-layout a {
  color: inherit;
  text-decoration: none;
}

.home-layout textarea {
  resize: none;
}

.home-layout button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}

.home-layout [data-transition-theme="dark"] {
  background-color: var(--color-dark);
}

.home-layout [data-transition-theme="light"] {
  background-color: var(--color-neutral-200);
}
