@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/sf-pro-display-cdnfonts/SFPRODISPLAYREGULAR.OTF")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/sf-pro-display-cdnfonts/SFPRODISPLAYMEDIUM.OTF")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/sf-pro-display-cdnfonts/SFPRODISPLAYBOLD.OTF")
    format("opentype");
}
